Earlier I told you that their are 4 built in data structures in python. We have already discussed three of it. Now its time to discussed remaining 4th data structure type which is Sets. Sets is not most commonly used data structure unlike dictionaries, list and tuple, but its necessary to know about it.

Set is a collection of items enclosed in curly brackets and does not follow any order or indexing

In [14]:
#lets see how we can create a set

a = {'apple', 1, 'orange'}

In [4]:
print(a)

{1, 'orange', 'apple'}

You cannot store bolean item like True or False in a set

### Access Items of a Set

In [5]:
#As I have mentioned that items of set are unordered due to which they does not follow any indexing, to print items, you 
#have to loop throgh the items of set

In [7]:
for item in a:
    print(item)

1
orange
apple

In [8]:
#similary you can also check whether some particular item is present in a set or not by using 'in' and 'not in' operators

In [11]:
#lets check whether apple is their in a set or not

print('apple' in a)

#similary check about fish
print('fish' in a)#so it is not their

True
False

### Mutable/Immutable

Set elements are immutable means we cannot changed them, but set itself is mutable means we can add or remove elements from it.

### Adding Items

We can add items in a set in two ways:

1.We can add one item in a set using the add() method.
2.We can add more than one item to a set by using the update() method.

In [12]:
#lets quickly check both of these methods

#### add() method

In [76]:
#this is our previously defined set store in variable a
a = {'apple', 1, 'orange'}

#now to add one item to it, we use add method with value within the paranthesis
a.add('fish')
print(a)
#so now fish has been added to it

{1, 'fish', 'orange', 'apple'}

#### update() method

In [77]:
#Update method also work in a same way with the benefit that we can pass multiple items within the paranthesis.

In [78]:
#here We have use update method and pass 2 items by using square brackets followed by method paranthesis
a.update(['banana', 'ball'])

print(a)

{1, 'apple', 'ball', 'banana', 'fish', 'orange'}

In [79]:
#you can also use round paranthesis to pass multiple items
a.update(('mango', 'cup'))

print(a)

{1, 'mango', 'cup', 'apple', 'ball', 'banana', 'fish', 'orange'}

### Removing Item

We can remove items from set by following three ways:

1.By using remove() method.
2.By using discard() method.
3.By using pop method.

In [80]:
#In working all three methods are different from each other, so lets quickly discuss them.

#### remove() method

In [81]:
#lets use remove method first

In [82]:
#So here I have removed 'orange' from our set a

a.remove('orange')
print(a)

#you can see orange is not their in a set

{1, 'mango', 'cup', 'apple', 'ball', 'banana', 'fish'}

One thing to note here is that if an item to be removed is not their in a set, then remove() method will raise an error

In [83]:
#Its time to see whether it raise an error if we remove item house from set a

In [84]:
a.remove('house')
#so you can see it raise an error

KeyError: 'house'

#### discard() method

So another way is to use discard method, as it does not raise an error if item to be removed does not exist

In [85]:
#lets check it again by passing house item to it
a.discard('house')

#so you can see it does not raise an error, lets try to remove item of a set using discard method"

In [86]:
#So here we have removed cup from our set a
a.discard('cup')

print(a)

{1, 'mango', 'apple', 'ball', 'banana', 'fish'}

#### pop() method

pop() method also used to remove set items and it removes last item, but we know that set items are unordered, so in the end we will not know exactly what item gets removed.

In [87]:
#Previously we have also use pop method with list and we know that we can also store removing item in a variable which we
#already did in list, so lets try to do same thing here

In [88]:
#So here we have removed last set item and store it in removed_item variable, and print that remove item
removed_item = a.pop()

print(removed_item)

1

In [89]:
#see privoulsy 1 was at first position and pop remove last item, but as I told you guys set does not follow order so it
#removed 1 which verfies that set items are unordered

In [90]:
#So these were the three methods which are used in removing set items

### len() method

len() method returns the len of a set

In [91]:
#this time our set a has 5 items
print(a)

{'mango', 'apple', 'ball', 'banana', 'fish'}

In [92]:
#lets verify this using len method to it
print(len(a))

#so it give us the correct result

5

### clear() method

clear method is used to make a set empty

In [93]:
a.clear()
print(a)

set()

In [94]:
#see it return empty set, you can also verify it by using len method
print(len(a))

0

In [95]:
#see it returns 0

### del keyword

del keyword is used to delete the set completely

In [96]:
#here I have defined a new set b, lets delete this set
b = {'mango', 'apple', 'ball', 'banana', 'fish'}

In [97]:
del b

In [100]:
#I have deleted a set b, lets check it by using print statement
print(b)
#see it return b is not define as we have already deleted it

NameError: name 'b' is not defined

### Joining Sets

We can join two or more sets in Python in several ways.

1 Firstly We can use the union() method.
2.Secondly by using the update() method which is used to inserts all the it ems from one set into another set

#### Union() method

union() method combines two sets and  returns a new set containing all items from two sets

In [4]:
#So now let see how union method works
set_a= {"orange", "apple" , "mango"}
set_b = {10, 20, 30}

set_c = set_a.union(set_b)

#union method will return a new set containing items from both of the above sets irrespective of their order
#and we store that new set in set_c, the syntax is quite simple, name of first set followed by union method and then name
#of second set within the paranthesis
#lets print out set_c

print(set_c)

{'orange', 20, 'apple', 10, 30, 'mango'}

In [5]:
#You can also use this syntax to apply union on two sets

set_a= {"orange", "apple" , "mango"}
set_b = {10, 20, 30}

set_d = set.union(set_a, set_b)
#here we used set then union method and name of sets onto which you want to apply union within the paranthesis
#and store the new or returning set in variable set_d

#here we print it out and we got the same result as above
print(set_d)

{'orange', 20, 'apple', 10, 30, 'mango'}

#### update() method

update() method which is used to inserts all the items from one set into another set

In [6]:
#let see how it works

In [9]:
set_1 = {"guava", "pineapple" , "mango"}
set_2 = {10, 100, 20}

set_1.update(set_2)
#it has the similar syntax to what we have set in union method just replaces union with update.\
#so here we are inserting all set2 items in set 1

print(set_1)
#so now lets print set_1 to check whether it has been updated or not

{10, 100, 20, 'pineapple', 'guava', 'mango'}

In [32]:
#so you can see now it contains 6 items, 3 which it already has and 3 from set 2

#Note that there are other methods too that joins two sets and keeps ONLY the duplicates, or NEVER the duplicates, check the full list of set methods in the bottom of this page.

### difference method()

It takes difference between two or more sets and return a new set of items

In [13]:
set_a = {'apple', 'mango', 'orange'}
set_b = {'apple', 'banana', 'pineapple'}

set_c = set_a.difference(set_b)

#it takes difference between set a and set b but as you can see notation represents as subtract set_b items from set a
#So In this case it returns a set that contains the items that only exist in set a after subtracting set_b items

#so apple will be subtracted from set a as it is also in set b
print(set_c)#so it have to print mango and orange, let see whether we are correct or not
#so yeah it works great

{'orange', 'mango'}

### The set() constructor

We can also make a set by using the set() constructor.
It is like when we use list() constructor to make a list

In [19]:
a = set(('apple', 'banana', 'orange', 1))
print(a)

{1, 'orange', 'banana', 'apple'}

Similarly you can also define an empty set as we did in list

In [21]:
b = set()
print(b)
#see it prints an empty set

set()

In [17]:
#So now lets move towards the last method

### Intersection() method

intersection() method is used to returns a set, that is the intersection of two other sets.
you can also say that it returns a set containing the items that are common in both the sets.

In [15]:
set_a = {'apple', 'mango', 'orange'}
set_b = {'apple', 'banana', 'pineapple'}

set_c = set_a.intersection(set_b)
#We can see that apple is common in both set a and set b so intersection method will return apple and store it in set c
#we can check that by printing set c
print(set_c)

{'apple'}

In [ ]:
#So that's all for a set, as I already mentioned that, it is not commonly used data structure but you have to know what is
#set and some of its basic operations

## EXERCISE

Q1: Write a python program to check whether "mango" is present in the fruits set or not

In [24]:
fruits = {"mango", "banana", "pineapple"}

if "mango" in fruits:#it uses in operator to check whether mango is their in a frutis set
    \
    print("Mango is their in a fruit set!")
else:
    print("Mango is not their in a fruit set!")

Mango is their in a fruit set!

Q2: Write a python program to add 'cherry' in a fruits set

In [25]:
#we can use add method to add cherry to a fruits set
fruits.add('cherry')
print(fruits)

{'cherry', 'banana', 'pineapple', 'mango'}

Q3: Write a python program to add more fruits(more than one) to our fruits set

In [26]:
#we have used update method to do this
fruits.update(['orange', 'apple'])

#lets print out our fruits set
print(fruits)

{'orange', 'apple', 'cherry', 'pineapple', 'banana', 'mango'}

Q4: Write a python program to remove pineapple from a fruits set without raising an error(if pineapple not present in fruits set)

In [27]:
fruits = {'orange', 'apple', 'cherry', 'pineapple', 'banana', 'mango'}

fruits.discard('pineapple')

print(fruits)

{'orange', 'apple', 'cherry', 'banana', 'mango'}

Q5: Write a python program to find common items between two given sets

In [30]:
#we have used intersection method to do this
set1 = {1, 2, 3, 4}
set2 = {10, 1, 4, 5}

set3 = set1.intersection(set2)
print(set3)

{1, 4}

Q6: Write a python program to return a new set containing items from both given set

In [31]:
#we have used union method to do this
set1 = {1, 2, 3, 4}
set2 = {10, 1, 4, 5}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 10}